<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
<h1>Bienvenue</h1>
<h2><a href="sessions"> Sessions </a></h2>
    <p > Cette page vous permettra de créer ou terminer une session.</p>
<h2><a href = "derniers_resultats">Derniers résultats </a></h2>
<p> Cette page vous permettra d'accéder à une moyenne des derniers résultats des étudiant-e-s. </p>
<h2><a href="student_list">Liste étudiants</a></h2>
    <p >Cette page vous donne accès au détail de la progression de chaque étudiant-e-s.</p>
</body>
</html>